In [52]:
my_list = [1,2,3,4,5,6,7,24,76,77,8,9,10,11,12,13,14,15,16,17,18,19]

In [5]:
test_list = [3, 4, 7, 2, 9, 170]

In [14]:
new_list

[4, 2, 170]

In [67]:
f = lambda my_list: filter(lambda x: x % 2 == 0, my_list)

In [70]:
for x in f(my_list):
    print(x)

2
4
6
24
76
8
10
12
14
16
18

In [71]:
items_list = [1,2,3,4,5]

In [77]:
def sqr(x):
    return x**2

In [78]:
items_squared = list(map(sqr,items_list))

In [79]:
items_squared

[1, 4, 9, 16, 25]

In [80]:
xlist = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75,100]

In [81]:
tens_list = list(filter(lambda x: x%10==0, xlist))

In [82]:
tens_list

[0, 10, 20, 30, 40, 50, 100]

Datetime

In [148]:
from datetime import datetime

In [97]:
date_start = '01-02-2013'
date_stop = '01-03-2013'

In [111]:
def difference_in_days(date1,date2):
    date1 = datetime.strptime(date1, '%m-%d-%Y')
    date2 = datetime.strptime(date2, '%m-%d-%Y')
    diff = date2-date1
    return diff.days

In [112]:
difference_in_days(date_start,date_stop)

1

In [1]:
i = 5
statement = "Hello Number: %s" % i

In [3]:
print(statement)

Hello Number: 5

### Strings

In [1]:
def both_ends(s):
    if len(s) < 2:
        new_s = ''
    
    else:
        s_front = s[:2]
        s_back = s[-2:]
        new_s = s_front+s_back
        
    return new_s

In [2]:
both_ends('Hello')

'Helo'

In [3]:
both_ends('spring')

'spng'

In [4]:
both_ends('a')

''

In [12]:
# replace the first character in a string with * starting at second character
# example: babble = ba**le

def fix_start(s):
    s_first = s[0]
    s_back = s[1:]
    s_back = s_back.replace(s_first,'*')
    new_s = s_first + s_back
    
    return new_s

In [17]:
fix_start('aardvark')

'a*rdv*rk'

In [26]:
# create a function that takes two params and returns a single string separated by a space.
# swap the first two characters of each string
# example: mix and pod = pox mid
def mix_up(a, b):
    a_first = a[:2]
    b_first = b[:2]
    a_last = a[2:]
    b_last = b[2:]
    new_string = b_first + a_last + " " + a_first + b_last
    
    return new_string

In [28]:
mix_up('gnash','sport')

'spash gnort'

In [29]:
s = 'swimming'
s[-3:]

'ing'

In [30]:
def verbing(s):
    if len(s) < 3:
        new_string = s
    else:
        s_end = s[-3:]
        if s_end == 'ing':
            new_string = s + 'ly'
        else:
            new_string = s + 'ing'
    
    return new_string

In [34]:
verbing('do')

'do'

In [47]:
# Find the first appearance of substring not and bad
# if bad follows the not then replace both with good
# example: This dinner is not bad! changes to "This dinner is good!"
# use find to return the index
def not_bad(s):
    not_index = s.find('not')
    bad_index = s.find('bad')
    if not_index < bad_index:
        s_start = s[:not_index]
        s_end = s[bad_index+3:]
        new_string = s_start + "good" + s_end
    else:
        new_string = s
    return new_string

In [48]:
not_bad("This dinner is not that bad!")

'This dinner is good!'

In [62]:
def front_back(s1,s2):
    if len(s1) % 2 == 0:
        half_s1 = int(len(s1) / 2)
    else:
        half_s1 = int(len(s1) / 2) + 1
    
    if len(s2) % 2 == 0:
        half_s2 = int(len(s2) / 2)
    else:
        half_s2 = int(len(s2) / 2) + 1
         
    s1_first = s1[:half_s1]
    s1_last = s1[half_s1:]
    s2_first = s2[:half_s2]
    s2_last = s2[half_s2:]
    
    return s1_first + s2_first + s1_last + s2_last

In [66]:
front_back('abcde', 'xyz')

'abcxydez'

### Lists

In [67]:
def match_ends(s):
    list_count = 0
    for x in s:
        if len(x) > 1:
            first = x[0]
            last = x[-1]
            if first == last:
                list_count += 1
    return list_count

In [68]:
match_ends(["aba", "xyz", "aa", "x", "bbb"])

3

In [3]:
# return a list of strings in sorted order except x
# if it starts with x then put that in the beginning
def front_x(words):
    x_words = []
    non_x_words = []
    
    for word in words:
        if word[0] == 'x':
            x_words.append(word)
        else:
            non_x_words.append(word)
    
    x_words.sort()
    non_x_words.sort()
    
    return x_words + non_x_words

In [4]:
front_x(["mix", "xyz", "apple", "xanadu", "aardvark"])

['xanadu', 'xyz', 'aardvark', 'apple', 'mix']

In [5]:
# Given a list of tuples sort ascending based on the last element of the tuple
def sort_last(tuples):
    return sorted(tuples,key=lambda t_list:t_list[-1])

In [53]:
# given a list of numbers remove adjacent duplicate numbers
# [3,2,3,3,3] = [3,2,3]

def remove_adjacent(nums):
    i = 0
    newlist= []
    while i < len(nums)-1:
        if nums[i] == nums[i+1]:
            pass
        else:
            newlist.append(nums[i])
        i+=1
    
    newlist.append(nums[-1])
    return newlist

In [54]:
remove_adjacent([2, 2, 3, 3, 3, 2])

[2, 3, 2]

In [55]:
remove_adjacent([1,2,2,3])

[1, 2, 3]

In [56]:
remove_adjacent([1,2,2])

[1, 2]

In [57]:
remove_adjacent([-1, 1.5, 5])

[-1, 1.5, 5]

In [65]:
# merge 2 lists and sort
def linear_merge(list1, list2):
    newList = list1 + list2
    newList.sort()
    return newList

In [66]:
print(linear_merge([1,2,2],[-1, 1.5, 5]))

[-1, 1, 1.5, 2, 2, 5]

### Parsing

In [106]:
# The football.csv file contains the results from the English Premier League.
# The columns labeled ‘Goals’ and ‘Goals Allowed’ contain the total number of
# goals scored for and against each team in that season (so Arsenal scored 79 goals
# against opponents, and had 36 goals scored against them). Write a program to read the file,
# then print the name of the team with the smallest difference in ‘for’ and ‘against’ goals.

# Don't use pandas.

# Following functions will be called like this:
#   footballTable = read_data('football.csv')
#   minRow = get_index_with_min_abs_score_difference(footballTable)
#   print str(get_team(minRow, footballTable))

In [107]:
import sys
import os
import csv

In [124]:
def read_data(filename):
    """Returns a list of lists representing the rows of the csv file data.

    Arguments: filename is the name of a csv file (as a string)
    Returns: list of lists of strings, where every line is split into a list of values. 
        ex: ['Arsenal', 38, 26, 9, 3, 79, 36, 87]
    """
    #football_data = [line.strip().split(",") for line in filename]
    #file = open(filename,newline='')
    csvreader = csv.reader(open(filename,newline=''))
    header = next(csvreader)
    data = [row for row in csvreader]
    
    return data

In [125]:
test_list = "test.txt"

In [126]:
football_data = read_data(test_list)

In [111]:
for(idx,val) in enumerate(football_data):
    print(idx,int(val[5]))

0 79
1 67
2 87
3 74
4 53
5 66
6 48
7 46
8 49
9 55
10 46
11 35
12 36
13 38
14 45
15 44
16 29
17 41
18 33
19 30

In [127]:
def get_index_with_min_abs_score_difference(goals):
    """Returns the index of the team with the smallest difference
    between 'for' and 'against' goals, in terms of absolute value.

    Arguments: parsed_data is a list of lists of cleaned strings
    Returns: integer row index
    """
    
    # Loop through a list of lists
    # abs(goals-goals allowed)
    # store in list of list or list of tuples
    # return index of min value
    diffs = []
    
    for(idx,val) in enumerate(goals):
        diff = idx,abs(int(val[5]) - int(val[6]))
        diffs.append(diff)
        
    sorted_diffs = sorted(diffs,key=lambda diff_list:diff_list[-1])
    
    return sorted_diffs[0][0]

In [129]:
goals = []
diffs = []
for(idx,val) in enumerate(football_data):
    diff = idx,abs(int(val[5]) - int(val[6]))
    diffs.append(diff)

In [130]:
sorted_diffs = sorted(diffs,key=lambda diff_list:diff_list[-1])

In [133]:
sorted_diffs[0][0]

7

In [128]:
get_index_with_min_abs_score_difference(football_data)

7

In [137]:
def get_team(index_value, parsed_data):
    """Returns the team name at a given index.
    
    Arguments: index_value is an integer row index
               parsed_data is the output of `read_data` above
               
    Returns: the team name
    """
    return parsed_data[index_value][0]

In [135]:
football_data

[['Arsenal', '38', '26', '9', '3', '79', '36', '87'],
 ['Liverpool', '38', '24', '8', '6', '67', '30', '80'],
 ['Manchester United', '38', '24', '5', '9', '87', '45', '77'],
 ['Newcastle', '38', '21', '8', '9', '74', '52', '71'],
 ['Leeds', '38', '18', '12', '8', '53', '37', '66'],
 ['Chelsea', '38', '17', '13', '8', '66', '38', '64'],
 ['West_Ham', '38', '15', '8', '15', '48', '57', '53'],
 ['Aston_Villa', '38', '12', '14', '12', '46', '47', '50'],
 ['Tottenham', '38', '14', '8', '16', '49', '53', '50'],
 ['Blackburn', '38', '12', '10', '16', '55', '51', '46'],
 ['Southampton', '38', '12', '9', '17', '46', '54', '45'],
 ['Middlesbrough', '38', '12', '9', '17', '35', '47', '45'],
 ['Fulham', '38', '10', '14', '14', '36', '44', '44'],
 ['Charlton', '38', '10', '14', '14', '38', '49', '44'],
 ['Everton', '38', '11', '10', '17', '45', '57', '43'],
 ['Bolton', '38', '9', '13', '16', '44', '62', '40'],
 ['Sunderland', '38', '10', '10', '18', '29', '51', '40'],
 ['Ipswich', '38', '9', '9', '20', '41', '64', '36'],
 ['Derby', '38', '8', '6', '24', '33', '63', '30'],
 ['Leicester', '38', '5', '13', '20', '30', '64', '28']]

In [139]:
get_team(6,football_data)

'West_Ham'

In [141]:
import random

def measure_time(f, *args):
    then = datetime.now()
    res = f(*args)
    now = datetime.now()
    return res, now-then

list1 = random.sample(range(10**6), 10000)
list2 = random.sample(range(10**6), 10000)

In [145]:
def intersect_lists_1(list1,list2):
    return [x for x in list1 if x in list2]

In [152]:
def intersect_lists_2(list1, list2):
    list1 = set(list1)
    list2 = set(list2)
    return {x for x in list1 if x in list2}

In [153]:
ans1, time1 = measure_time(intersect_lists_1, list1, list2)
ans2, time2 = measure_time(intersect_lists_2, list1, list2)

In [154]:
time1

datetime.timedelta(0, 1, 461876)

In [155]:
time2

datetime.timedelta(0, 0, 1388)

### Quiz Scratch

In [2]:
import pprint as pp

In [12]:
a = {'first':123, 'second':456, 'third':{1:1,2:2}, 'fourth': {1:1, 2:2}, 'fifth':555}

#print (a)

#pprint.pprint(a)

pp.pprint(a, width=2)

{'fifth': 555,
 'first': 123,
 'fourth': {1: 1,
            2: 2},
 'second': 456,
 'third': {1: 1,
           2: 2}}